.search{
  display: inline-block;
}

.submit{
  border-radius: 50px;
  width: 250px;
  margin-left: 45px;
}

.submitButton{
  margin-left: 10px;
}

#searchPage{
  text-align: center;
  div{
    font-family: monaco;
    font-weight: bold;
    font-size: 40px;
  }
}

#side{

  box-shadow: 2px 2px 10px #888;

  div{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #sideSubmit{
    border-radius: 50px;
    width: 150px;
  }

  #sideSearch{
    display: inline-block;
  }
}